<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VProject</display-name>
  <context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>InventarioServlet</servlet-name>
		<servlet-class>com.grselectronics.inventario.servlet.InventarioServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>com.grselectronics.inventario.ui.VProjectUI</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InventarioServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>600000</session-timeout>
	</session-config>
</web-app>